@use "../../../../styles/layout.scss";
@use "../../../../styles/color.scss";
@use "../../../../styles/responsive.scss";

.toolbox-popup {
    position: absolute;
    z-index: 999999999999;
    min-width: 260px;
    width: 320px;
    max-height: 434px;
    line-height: 1.4em;
    right: 0;
    top: 40px;
    list-style-type: none;
    color: #777;
    margin: 10px 0 auto;
    border: 0;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    background-color: color.$white-fff;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cart-menu {
    padding: 20px;
   
    .cart-menu-total,
    .cart-menu-item,
    .cart-menu-actions {
        overflow: hidden;
        padding: 10px 0;
        @include layout.flex-row;
        @include layout.flex-align-center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        justify-content: space-between;
    }

    .cart-menu-item {

        &:first-child {
            padding-top: 0;
        }

        &__img {
            width: 70px;
            height: 70px;
        }

        &__content {
            @include layout.flex-column;
            justify-content: center;
            padding-left: 20px;
            flex-grow: 1;
            font-size: 12px;

            p {
                margin-bottom: 0;
            }

            &--qty {
                line-height: 1.5em;

                span {
                    font-size: 10px;
                }
            }

            &--price {
                color: #000;
                font-weight: bold;
                font-size: 14px;
                margin-left: 6px;
            }

            &--actions {
                width: 100%;
                @include layout.flex-row;
                justify-content: space-between;
            }

            &--delete {
                background: transparent;
                padding: 0;
                cursor: pointer;
            }

            &--icon {
                font-weight: 700;
                font-size: 12px;
            }
        }
    }

    .cart-menu-total {
        p {
            margin-bottom: 0;
        }

        &__value {
            color: #000;
            font-weight: bold;
            font-size: 14px;
            margin-left: 6px;
        }
    }

    .cart-menu-actions {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.account-menu {
    list-style: none;
    margin: 0;
    @include layout.flex-column;
    justify-content: space-between;

    &__item {
        padding: 5px 10px;
        cursor: pointer;
        
        &:hover {
            background-color: color.$primary-color;
            color: color.$white-fff;
        }
    }
}