@use "../../../styles/color.scss";
@use "../../../styles/responsive.scss";
@use "../../../styles/layout.scss";

.search-container {
    position: absolute;
    min-width: 400px;
    background-color: color.$white-fff;

    .search-section {
        @include layout.flex-align-center;

        &__input {
            border: 1px solid color.$grey-d5dbd9;
            border-radius: 0;
            padding: 8px;
            box-sizing: border-box;
    
            &:focus {
                outline: none;
                box-shadow: 1px 10px rgb(82 168 236 / 80%)
            }
    
            &:focus, &:hover {
                border-color: color.$grey-d5dbd9 !important;
            }
    
            &--icon {
              color: color.$primary-color;
              margin-right: 10px;
              font-size: 20px;
            }
        }
    
        &__button {
            background: color.$primary-color;
            color: color.$white-fff;
            border: none;
            margin-left: 20px;
            border-radius: 0;
    
            &:hover {
              background-color: color.$black-000;
            }
        }

        &__result {
            position: absolute;
            top: 100%;
            height: fit-content;
        }

        &__list {
            background: color.$white-fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            max-height: 400px;
            overflow-y: auto;
        }
    }
}

.search-item {
    padding: .5rem 1rem;
    @include layout.flex-row;
    cursor: pointer;

    &:hover {
        background-color: color.$grey-efefef;
    }

    &__image {
        width: 60px;
        height: 60px;
    }

    &__info {
        @include layout.flex-column;        
        text-align: start;
        margin-left: 20px;
        font-size: 16px;

        &--name {
            color: color.$primary-color;
            margin-bottom: .5rem;
        }

        &--price {
            margin-bottom: 0;
        }
    }
}