@use '../layout.scss';
@use '../responsive.scss';
@use '../color.scss';

.login-layout {
    margin: 0;
    padding: 0;
    border: 0;
    @include layout.flex-center;
    font-size: 100%;
    width: 100vw;
    height: 100vh;
    font: inherit;
    vertical-align: baseline;
    font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    background: url('/images/background/bg.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.login-overlay {
    @include layout.absolute-middle;
    background: rgba(0, 0, 0, 0.8);
}

.login-container {
    @include layout.flex-center;
    @include layout.flex-column;
    width: 400px;
    @include responsive.mobile {
        width: 200px;
    }

    @include responsive.multipleMedia(true, mobile) {
        width: 300px;
    }

    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 2;

    &__title {
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        color: color.$primary-color;
        font-size: 25px;
        text-align: center;
    }

    &__form {
        &--user {
            position: relative;

            input {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid #fff;
                outline: none;
                background: transparent;
            }

            input:focus ~ label,
            input:valid ~ label {
                top: -20px;
                left: 0;
                color: color.$primary-color;
                font-size: 12px;
            }

            label {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                pointer-events: none;
                transition: 0.5s;
            }
        }

        &--submit {
            width: 100%;
            position: relative;
            text-align: center;
            margin-top: 20px;

            button {
                position: relative;
                display: inline-block;
                padding: 10px 20px;
                color: color.$primary-color;
                font-size: 16px;
                text-decoration: none;
                text-transform: uppercase;
                overflow: hidden;
                transition: 0.5s;
                letter-spacing: 4px;
                background: transparent;
                cursor: pointer;
    
                &:hover {
                    background: color.$primary-color;
                    color: #fff;
                    border-radius: 5px;
                    box-shadow: 0 0 5px color.$primary-color, 0 0 25px color.$primary-color, 0 0 50px color.$primary-color, 0 0 100px color.$primary-color;
                }
    
                div {
                    position: absolute;
                    display: block;
                }
    
                div:nth-child(1) {
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(90deg, transparent, color.$primary-color);
                    animation: btn-anim1 1s linear infinite;
                }
    
                div:nth-child(2) {
                    top: -100%;
                    right: 0;
                    width: 2px;
                    height: 100%;
                    background: linear-gradient(180deg, transparent, color.$primary-color);
                    animation: btn-anim2 1s linear infinite;
                    animation-delay: 0.25s;
                }
    
                div:nth-child(3) {
                    bottom: 0;
                    right: -100%;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(270deg, transparent, color.$primary-color);
                    animation: btn-anim3 1s linear infinite;
                    animation-delay: 0.5s;
                }
    
                div:nth-child(4) {
                    bottom: -100%;
                    left: 0;
                    width: 2px;
                    height: 100%;
                    background: linear-gradient(360deg, transparent, color.$primary-color);
                    animation: btn-anim4 1s linear infinite;
                    animation-delay: 0.75s;
                }
            } 
        }

        &--register {
            color: color.$white-fff;
            text-align: center;
            margin-top: 40px;
            cursor: pointer;
        }
    }
}

.back-home {
    z-index: 3;
    color: color.$white-fff;
    position: absolute;
    top: 20px;
    left: 20px;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}