@use "./responsive.scss";

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin padding-2rem {
    padding: 2rem;
}

@mixin scroll-y {
    overflow-y: scroll;
}

@mixin absolute-middle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

@mixin layout-padding {
    padding-left: 6.5rem;
    padding-right: 6.5rem;

    @include responsive.multipleMedia(false, extra-large) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include responsive.multipleMedia(false, small) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}